<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greenhouses">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Part63"></activity>
        <activity android:name=".Part62" />
        <activity android:name=".Part61" />
        <activity android:name=".Part55" />
        <activity android:name=".Part54" />
        <activity android:name=".Part53" />
        <activity android:name=".Part52" />
        <activity android:name=".Part51" />
        <activity android:name=".Part45" />
        <activity android:name=".Part44" />
        <activity android:name=".Part43" />
        <activity android:name=".Part42" />
        <activity android:name=".Part41" />
        <activity android:name=".Part34" />
        <activity android:name=".Part33" />
        <activity android:name=".Part32" />
        <activity android:name=".Part31" />
        <activity android:name=".Part25" />
        <activity android:name=".Part24" />
        <activity android:name=".Part23" />
        <activity android:name=".Part22" />
        <activity android:name=".Part21" />
        <activity android:name=".Part15" />
        <activity android:name=".Part14" />
        <activity android:name=".Part13" />
        <activity android:name=".part2Activity" />
        <activity android:name=".Step1" />
        <activity android:name=".Steps" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>